<!---------------- Back ----------------->
<div class="container">
  <div class="row pt-4">
    <div class="col-lg-12">
      <%= link_to root_path do %>
        <button class="btn btn-primary">
        <i class="fas fa-arrow-left"></i>
        </button>
      <% end %>
    </div>
  </div>
</div>
<!---------------/ Back ----------------->

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-12">
      <h5>Advising</h5>
      <hr class="my-2">
      <p class="lead">
        Advising is a process of exchange information that empowers students to realize their maximum potential, be in academic or personal issues. The advising process is students-centred and will result in the students gaining a clearer understanding of himself/herself and the experience of higher education.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-12">
      <h5>Counselling</h5>
      <hr class="my-2">
      <p class="lead">
        Counselling takes place when a counsellor sees a client in a private and confidential setting to
        explore a difficulty the client is having, distress they may be experiencing or perhaps their
        dissatisfaction with life, or loss of a sense of direction and purpose. It is always at the request
        of the client as no one can properly be ‘sent’ for counselling.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-12">
      <h5>Consultation</h5>
      <hr class="my-2">
      <p class="lead">
        Professional counselling is a safe and confidential collaboration between qualified
        counsellors and clients to promote mental health and wellbeing, enhance self-understanding,
        and resolve identified concerns. Clients are active participants in the counselling process at
        every stage.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-12">
      <h5>Discussion</h5>
      <hr class="my-2">
      <p class="lead">
        The action or process of talking about something in order to reach a decision or to exchange ideas.
      </p>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-lg-12">
      <h5>Test/Inventories</h5>
      <hr class="my-2">
      <p class="lead">
        The term “test” most frequently refers to devices for measuring abilities or qualities for which there
        are authoritative right and wrong answers. Such a test may be contrasted with a
        personality inventory, for which it is often claimed that there are no right or wrong answers.
      </p>
    </div>
  </div>
</div>